ssh_host_ed25519_key: |
  -----BEGIN OPENSSH PRIVATE KEY-----
  ...
  -----END OPENSSH PRIVATE KEY-----

restic_repository: s3:https://<R2_ACCOUNT_ID>.r2.cloudflarestorage.com/overdueprogress-backups

restic_password: a-long-random-passphrase-for-the-restic-repo

restic_env: |
  AWS_ACCESS_KEY_ID=...
  AWS_SECRET_ACCESS_KEY=...

overdueprogress_env: |
  TURNSTILE_SITE_KEY=...
  TURNSTILE_SECRET_KEY=...
  RESEND_API_KEY=...
  FROM_EMAIL=Overdue Progress <admin@overdueprogress.org>
  RP_ID=overdueprogress.org
  RP_ORIGIN=https://overdueprogress.org
  TELEGRAM_BOT_TOKEN=...
  TELEGRAM_CHAT_ID=...
  AXIOM_TOKEN=...
  AXIOM_DATASET=overdueprogress

telegram_alert_env: |
  BOT_TOKEN=...
  CHAT_ID=...
